html, body {
	background-color: transparent;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.main-container {
	background-color: transparent;
	display: block;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.main-container .mc-header-block {
	display: flex;
	height: auto;
	margin: 0 auto;
	padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;	
}

.main-container .mc-header-block .mc-header-block-content {
	display: flex;
	height: auto;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0;
}

.main-container .mc-header-block .mc-header-block-content .mc-header-block-content-icon-box {
	display: flex;
	margin: 0;
	padding: 0;
}

.main-container .mc-header-block .mc-header-block-content .mc-header-block-content-icon-box > img {
	height: 80px;
	margin: 20px 0;
}

.main-container .mc-header-block .mc-header-block-content .mc-header-block-content-nav-bar {
	display: flex;
	margin: 3em auto;
	padding: 0;
  position: absolute;
	right: 0;
}

.main-container .mc-header-block .mc-header-block-content .mc-header-block-content-nav-bar ul {
	align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.main-container .mc-hero-banner {
	background-color: gray;
	display: block;
	height: 500px;
	width: 100%;
}

.main-container .mc-cont-banner {
	background-color: #f2f2f2;
	display: block;
	height: 500px;
	width: 100%;
}

.main-container .mc-modal-block {
	display: none;
}

.main-container .mc-modal-visible {
	/*background-color: red;*/
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
}

.main-container .mc-modal-visible .mc-modal-block-content {
	background-color: green;
	display: flex;
	margin: 0 auto;
	padding: 0;
}

.main-container .mc-modal-visible .mc-modal-block-content > .close-modal {
	background-color: white;
  color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  text-align: center;
}


.main-container .mc-modal-menu-block {
	display: none;
}

.main-container .mc-modal-menu-visible {
	background-color: red;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
}

.main-container .mc-modal-menu-visible .mc-modal-block-content {
	display: flex;
	margin: 0 auto;
	padding: 0;
}

.main-container .mc-modal-menu-visible .mc-modal-block-content > .close-modal {
	background-color: white;
  color: red;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
  text-align: center;
}